<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This app has been developed in ruby on rails, trying to emulate a twitter like micropost blog using TDD and Ruby on rails MVC approach. You can find the source code at <a href="https://www.github.com/camilogiraldo/tblog_app" target="_blank"><em>TBlog app on github.</em></a> 
</p>